[submodule "3rd/WritableJsonConfiguration"]
	path = 3rd/WritableJsonConfiguration
	url = https://github.com/DearVa/WritableJsonConfiguration
[submodule "3rd/shad-ui"]
	path = 3rd/shad-ui
	url = https://github.com/DearVa/shad-ui
[submodule "3rd/MessagePack-CSharp"]
	path = 3rd/MessagePack-CSharp
	url = https://github.com/NodisAI/MessagePack-CSharp
[submodule "3rd/LiveMarkdown.Avalonia"]
	path = 3rd/LiveMarkdown.Avalonia
	url = https://github.com/DearVa/LiveMarkdown.Avalonia
